<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/form.css">
    <script src="/toggle_password.js" defer></script>
    <script src="/index.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <section class="form login">
            <header>Login</header>

            <form action="/login" method="post">
                <div class="field input">
                    <label for="">Email Address</label>
                    <input type="text" id="email" name="email" placeholder="Enter Your Email">
                </div>

                <div class="field input">
                    <label for="">Password</label>
                    <input type="password" id="pass" name="pass" placeholder="Enter Your Password">
                    <i class="fa fa-eye"></i>
                </div>

                <div class="field button">
                    <input type="submit" value="Login">
                </div>
            </form>
            
            <div class="link">
                Don't Have an Account? <a href="/signup">SignUp Now</a>
            </div>
        </section>
    </div>
</body>
</html>